{% load static %}
<!-- partners -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">Our Partners</h2>
            </div>
            <!-- end section title -->

            <!-- section text -->
            <div class="col-12">
                <p class="section__text section__text--last-with-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <!-- end section text -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="partner">
                    <img src="{% static 'img/partners/partner1.jpg' %}" alt="" class="partner__img">
                </div>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="partner">
                    <img src="{% static 'img/partners/partner2.jpg' %}" alt="" class="partner__img">
                </div>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="partner">
                    <img src="{% static 'img/partners/partner3.jpg' %}" alt="" class="partner__img">
                </div>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="partner">
                    <img src="{% static 'img/partners/partner4.jpg' %}" alt="" class="partner__img">
                </div>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="partner">
                    <img src="{% static 'img/partners/partner5.jpg' %}" alt="" class="partner__img">
                </div>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="partner">
                    <img src="{% static 'img/partners/partner6.jpg' %}" alt="" class="partner__img">
                </div>
            </div>
            <!-- end partner -->
        </div>
    </div>
</section>
<!-- end partners -->